header {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header>.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 150px;
    margin-left: 20px;
}