footer {
    height: 60px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #CCCCCC;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}